.listContainer{
    width: 100%;
    max-width: 1024px;

    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
}
.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;

}
.listSearch{
    flex: 1 ;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    height: max-content;
    
}
.lsTitle{
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}
.listResult{
    flex: 3;
}
.lsItem{
    display: flex;

    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;

}
.lsItem>span{
    padding: 5px;
    font-size: 12px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.lsItem> input{
    height: 30px;
    border: none;
    padding: 5px;
}





.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
   
}

.lsOptions{
    padding: 10px;
    
}
.lsOptionInput{
    width: 50px;
}
.listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}